body.woocommerce-checkout {
	.checkout-billing {
		#kco-iframe {
			float: none;
			padding-left: 0;
			width: 100%;
		}		
	}

	.checkout-order {
		#kco-order-review {
			float: none;
			width: 100%;
			padding-right: 0px;

			table.shop_table {
				thead {
					display: none;
					background: transparent;
				}

				tbody {
					background-color: transparent;
					border:none;

					tr {
						background-color: transparent;
						border-bottom: none;

						&:last-child {
							td {
								padding-bottom: 40px;
							}
						}

						td {
							padding: 12px 0;
						}
					}

					.checkout-product-wrap {
					    position: relative;
					    display: flex;
					    align-items: center;
					    width: 100%;

					    .checkout-product-thumbnail {
					    	margin-right: 20px;
					    	img {
					    		max-width: rem-calc(70);
					    		@include box-shadow(5px 5px 50px -5px rgba(0,0,0,0.1));

					    		@include breakpoint(1280px down) {
									max-width: rem-calc(60);
					    		}
					    	}
					    }

					    .checkout-product-name {
						    color: #000;
						    font-size: 16px;
						    line-height: 1.3;
						    font-weight: 400 !important;
						    display: block;
						    padding-right: 20px;

						    .quantity {
						    	display: block;
						    	margin: 5px 0;
						    	input.custom-qty {
									background-color: transparent;
						    	}
						    }

					    }

					    .checkout-product-total {
							margin-left: auto;
							text-align: right;			    	
					    }
					}																
				}

				tfoot {
					background-color: transparent;
					border: none;

					th {
						font-size: 20px;
					}

					tr {
						border: none;
					}

					.cart-subtotal {
						border-top: 2px solid #000;
						border-bottom: 1px solid #dbdbdb;
						th, td {
							padding-left: 0;
							padding-top: rem-calc(20); 	
						}	
						td {
							text-align: right;
							.amount {
								font-size: 24px;
							}
						}							
					}

					.shipping {
						th {
							display: none;
						}
					}
						
					.cart-discount {
						border-bottom: 1px solid #dbdbdb;

						th {
							padding-left: 0;
							font-weight: 300;
							font-size: 18px;
							line-height: 1.4;
						}

						td {
							position: relative;
							text-align: right;
							padding-right: 25px;
							font-weight: 300;

							> .amount {
								margin-left: 10px;
							}

							.woocommerce-remove-coupon {
								color: #000;
								position: absolute;
								top: calc(50% - 9px);
								right: 0;
								// position: relative;
				    			display: inline-block;
				    			font-size: 0px;				
								width: 18px;
								height: 18px;
								border-radius:50%;
								border:1px solid #000;
								background-color: #fff;	

								&:before {
									position: absolute;
									left: calc(50% - 7px);
									top: calc(50% - 7px);
									
									font-size: 14px;
									@include barberry_icon('\ea2a');
								}

								&:hover {
									background-color: #000;
									&:before {
										color: #fff;
									}
								}						
							}
						}				
					}

					.shipping {
						td {
							font-weight: 300;
							font-size: 1rem;
							padding-left: 0;
							padding-bottom: 30px;
							.amount {
								float: right;
							}					
						}
						.shipping-th-title {
							color: #000;
							font-size: 20px;
							font-weight: normal;
							margin-bottom: rem-calc(10);
						}

						ul#shipping_method {
							margin: 0;
							list-style: none;
							li {
								margin-bottom: 5px;
								input.shipping_method {
									display: none;
								}
								label {
									font-weight: 300;
									width: 100%;
									margin-left: 0;
									.amount {
										float: right;
									}
								}
							}
						}				
					}

					.order-total {
						border-top: 6px solid #000;
						background-color: transparent;

						th, td {
							padding-left: 0;
							padding-top: rem-calc(30); 	
						}	

						td {
							text-align: right;
							.amount {
								font-size: 36px;
								@include breakpoint(small only) {
									font-size: 30px;
								}
							}

							.includes_tax {
								font-size: 14px;
								line-height: 1.4;
								display: block;
								font-weight: 300;

								.amount {
									font-size: 14px;
								}
							}
						}

					}
				}
			}
		}		
	}
}


