
.post-password-form {
	.post-password-form-inner {
	    background-color: #f4f4f4;
	    width: 100%;
	    padding: 2.5rem;
	    max-width: 600px;
	    margin: 0 auto;
	    margin-bottom: 2.5rem;

	    p {
	    	label {
	    		margin-top: rem-calc(20);
	    	}
	    	&:last-child {
	    		margin-bottom: 0;
	    	}

	    	.button {
	    		width: 100%;
	    		margin-top: rem-calc(20);
	    	}
	    }
	}
}
