form.track_order {

	.track-order-inner {
		background-color: #f4f4f4;
		width: 100%;
		padding: rem-calc(40);

		max-width: 600px;
		margin: 0 auto;	
		margin-bottom: rem-calc(40);

		p:not(.form-row) {
			margin-bottom: rem-calc(30);

			@include breakpoint(small only) {
				font-size: 16px;
			}
		}

		.form-row-first, .form-row-last,
		.button {
		    width: 100%;
		}

		.button {
			margin-top: rem-calc(20);
		}	
	}

}

.addresses-grid {
	margin-top: rem-calc(50);
	.cell {
		padding: 0;
		h3 {
			font-size: rem-calc(26);
		}
		address {
			font-size: rem-calc(20);
			line-height: 1.4;
			margin-bottom: rem-calc(20);
		}

		@include breakpoint(small only) {
			margin-bottom: rem-calc(40);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}