@mixin widget_categories() {

	@include widget_dropdown();

	li {
		margin-bottom: rem-calc(4);
		 
		
		
		a {
			font-size: 94%;
			font-weight: 600;
			opacity: .5;
			
			&:hover {
				opacity: 1;
			}
		}
	}
}
